<section class="kitchen">
  <div class="kitchen-conteiner">
    <p class="kitchen-text">Amet minim mollit non</p>
    <h2 class="kitchen-h">Mimiho</h2>
    <ul class="kitchen-cards">
      <li class="kitchen-card-right">
        <p class="kitchen-card-right__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            srcset="
              ./images/restaurant-page/kitchens/restaurant-interior-desktop.jpg    1x,
              ./images/restaurant-page/kitchens/restaurant-interior-desktop@2x.jpg 2x,
              ./images/restaurant-page/kitchens/restaurant-interior-desktop@3x.jpg 3x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant-page/kitchens/restaurant-interior-tablet.jpg    1x,
              ./images/restaurant-page/kitchens/restaurant-interior-tablet@2x.jpg 2x,
              ./images/restaurant-page/kitchens/restaurant-interior-tablet@3x.jpg 3x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./images/restaurant-page/kitchens/restaurant-interior.jpg    1x,
              ./images/restaurant-page/kitchens/restaurant-interior@2x.jpg 2x,
              ./images/restaurant-page/kitchens/restaurant-interior@3x.jpg 3x
            "
            src="./images/restaurant-page/kitchens/restaurant-interior.jpg"
            class="kitchen-card-right__img"
            alt="готують їсти"
          />
        </picture>
      </li>
      <li class="kitchen-card-left">
        <picture>
          <source
            srcset="
              ./images/restaurant-page/kitchens/pexels-oruri-jacome-desktop.jpg    1x,
              ./images/restaurant-page/kitchens/pexels-oruri-jacome-desktop@2x.jpg 2x,
              ./images/restaurant-page/kitchens/pexels-oruri-jacome-desktop@3x.jpg 3x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant-page/kitchens/pexels-oruri-jacome-tablet.jpg    1x,
              ./images/restaurant-page/kitchens/pexels-oruri-jacome-tablet@2x.jpg 2x,
              ./images/restaurant-page/kitchens/pexels-oruri-jacome-tablet@3x.jpg 3x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./images/restaurant-page/kitchens/pexels-oruri-jacome.jpg    1x,
              ./images/restaurant-page/kitchens/pexels-oruri-jacome@2x.jpg 2x,
              ./images/restaurant-page/kitchens/pexels-oruri-jacome@3x.jpg 3x
            "
            src="./images/restaurant-page/kitchens/pexels-oruri-jacome.jpg"
            class="kitchen-card-left__img"
            alt="готують їсти"
          />
        </picture>
        <p class="kitchen-card-left__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <div class="carusel">
      <ul class="kitchens-slides">
        <li class="kitchens-slides__slide">
          <picture>
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/flour-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/flour-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/flour-desktop@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/flour-tablet.jpg    1x,
                ./images/restaurant-page/kitchens/slides/flour-tablet@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/flour-tablet@3x.jpg 3x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/restaurant-page/kitchens/slides/flour.jpg    1x,
                ./images/restaurant-page/kitchens/slides/flour@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/flour@3x.jpg 3x
              "
              src="./images/restaurant-page/kitchens/slides/flour.jpg"
              class="kitchens-slides__img"
              alt="мука"
            />
          </picture>
        </li>
        <li class="kitchens-slides__slide">
          <picture>
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/dumplings-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/dumplings-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/dumplings-desktop@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/dumplings-tablet.jpg    1x,
                ./images/restaurant-page/kitchens/slides/dumplings-tablet@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/dumplings-tablet@3x.jpg 3x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/restaurant-page/kitchens/slides/dumplings-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/dumplings-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/dumplings-desktop@3x.jpg 3x
              "
              src="./images/restaurant-page/kitchens/slides/dumplings-desktop.jpg"
              class="kitchens-slides__img"
              alt="пельмені:)"
            />
          </picture>
        </li>
        <li class="kitchens-slides__slide">
          <picture>
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/breakfast-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/breakfast-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/breakfast-desktop@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/breakfast-tablet.jpg    1x,
                ./images/restaurant-page/kitchens/slides/breakfast-tablet@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/breakfast-tablet@3x.jpg 3x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/restaurant-page/kitchens/slides/breakfast.jpg    1x,
                ./images/restaurant-page/kitchens/slides/breakfast@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/breakfast@3x.jpg 3x
              "
              src="./images/restaurant-page/kitchens/slides/breakfast.jpg"
              class="kitchens-slides__img"
              alt="сніданок"
            />
          </picture>
        </li>
        <li class="kitchens-slides__slide">
          <picture>
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/musli-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/musli-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/musli-desktop@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/musli-tablet.jpg    1x,
                ./images/restaurant-page/kitchens/slides/musli-tablet@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/musli-tablet@3x.jpg 3x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/restaurant-page/kitchens/slides/musli.jpg    1x,
                ./images/restaurant-page/kitchens/slides/musli@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/musli@3x.jpg 3x
              "
              src="./images/restaurant-page/kitchens/slides/musli.jpg"
              class="kitchens-slides__img"
              alt="мюслі"
            />
          </picture>
        </li>
        <li class="kitchens-slides__slide">
          <picture>
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/orang-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/orang-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/orang-desktop@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/orang-tablet.jpg    1x,
                ./images/restaurant-page/kitchens/slides/orang-tablet@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/orang-tablet@3x.jpg 3x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/restaurant-page/kitchens/slides/orang.jpg    1x,
                ./images/restaurant-page/kitchens/slides/orang@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/orang@3x.jpg 3x
              "
              src="./images/restaurant-page/kitchens/slides/orang.jpg"
              class="kitchens-slides__img"
              alt="сок"
            />
          </picture>
        </li>
        <li class="kitchens-slides__slide">
          <picture>
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/oysters-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/oysters-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/oysters-desktop@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/oysters-tablet.jpg    1x,
                ./images/restaurant-page/kitchens/slides/oysters-tablet@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/oysters-tablet@3x.jpg 3x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/restaurant-page/kitchens/slides/oysters.jpg    1x,
                ./images/restaurant-page/kitchens/slides/oysters@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/oysters@3x.jpg 3x
              "
              src="./images/restaurant-page/kitchens/slides/oysters.jpg"
              class="kitchens-slides__img"
              alt="устриці"
            />
          </picture>
        </li>
        <li class="kitchens-slides__slide">
          <picture>
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/kofe-desktop.jpg    1x,
                ./images/restaurant-page/kitchens/slides/kofe-desktop@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/kofe-desktop@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-page/kitchens/slides/kofe-tablet.jpg    1x,
                ./images/restaurant-page/kitchens/slides/kofe-tablet@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/kofe-tablet@3x.jpg 3x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/restaurant-page/kitchens/slides/kofe.jpg    1x,
                ./images/restaurant-page/kitchens/slides/kofe@2x.jpg 2x,
                ./images/restaurant-page/kitchens/slides/kofe@3x.jpg 3x
              "
              src="./images/restaurant-page/kitchens/slides/kofe.jpg"
              class="kitchens-slides__img"
              alt="сок"
            />
          </picture>
        </li>
      </ul>
      <div class="kitchens-slides__grup">
        <svg width="24" height="24" class="kitchens-slides__left">
          <use href="./images/icons.svg#clic-arrow-left"></use>
        </svg>
        <svg width="24" height="24" class="kitchens-slides__right">
          <use href="./images/icons.svg#clic-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <script>
    let count = 1;
    let list = document.querySelector('.kitchens-slides');
    let listElems = document.querySelectorAll('.kitchens-slides__img');
    // let width = listElems[0].clientWidth;
    let margin = getComputedStyle(
      document.querySelectorAll('.kitchens-slides__slide')[0]
    ).marginRight;
    let position = 0;
    document.querySelector('.kitchens-slides__right').addEventListener('click', left);
    function left() {
      let width = listElems[0].clientWidth;
      margin = parseInt(margin);
      position -= width * count + margin;
      if (position == -(width + margin) * (listElems.length - count + 1)) {
        position = 0;
      }
      list.style.marginLeft = position + 'px';
    }
    document.querySelector('.kitchens-slides__left').onclick = function () {
      let width = listElems[0].clientWidth;
      position += width * count + margin;
      if (position == width + margin) {
        position = 0;
      }
      list.style.marginLeft = position + 'px';
    };
  </script>
</section>
