<section class="page-menu">
  <div class="container container-menu">
    <h2 class="page-menu__title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="table-position">
      <div>
        <table class="table">
          <caption class="table__title">
            Гарячі страви
          </caption>
          <tr class="">
            <th class="table__dish">Борщ з телятини з квасолею</th>
            <th class="table__weight" rowspan="2">400 г</th>
            <th class="table__price" rowspan="2">240 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень,
              сметана
            </td>
          </tr>
          <tr>
            <th class="table__dish">Суп сирний з куркою</th>
            <th class="table__weight" rowspan="2">400 г</th>
            <th class="table__price" rowspan="2">200 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
          </tr>
          <tr>
            <th class="table__dish">Паста карбонара</th>
            <th class="table__weight" rowspan="2">350 г</th>
            <th class="table__price" rowspan="2">430 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
          </tr>
          <tr>
            <th class="table__dish">Стейк зі свинини</th>
            <th class="table__weight" rowspan="2">400 г</th>
            <th class="table__price" rowspan="2">500 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
            </td>
          </tr>
          <tr>
            <th class="table__dish">Горбуша в соусі з білого вина</th>
            <th class="table__weight" rowspan="2">400 г</th>
            <th class="table__price" rowspan="2">400 грн</th>
          </tr>
          <tr>
            <td class="table__composition table__composition--last">
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
          </tr>
        </table>
        <table class="table">
          <caption class="table__title">
            Гарніри та закуски
          </caption>
          <tr class="">
            <th class="table__dish">Запечені овочі</th>
            <th class="table__weight" rowspan="2">200 г</th>
            <th class="table__price" rowspan="2">230 грн</th>
          </tr>
          <tr>
            <td class="table__composition">Кабачок, перець, помідор, баклажан</td>
          </tr>
          <tr>
            <th class="table__dish">Картопля фрі</th>
            <th class="table__weight" rowspan="2">150 г</th>
            <th class="table__price" rowspan="2">160 грн</th>
          </tr>
          <tr>
            <td class="table__composition">Картопля, соус томатний</td>
          </tr>
          <tr>
            <th class="table__dish">Картопля по-селянськи</th>
            <th class="table__weight" rowspan="2">150 г</th>
            <th class="table__price" rowspan="2">160 грн</th>
          </tr>
          <tr>
            <td class="table__composition">Картопля, спеції, соус пікантний</td>
          </tr>
          <tr>
            <th class="table__dish">Хрумкі соління з бочки</th>
            <th class="table__weight" rowspan="2">250 г</th>
            <th class="table__price" rowspan="2">350 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Огірок солений, помідор квашений, квашена капуста, морква по-корейські
            </td>
          </tr>
          <tr>
            <th class="table__dish">Крильця курячі в медовому соусі</th>
            <th class="table__weight" rowspan="2">400 г</th>
            <th class="table__price" rowspan="2">420 грн</th>
          </tr>
          <tr>
            <td class="table__composition table__composition--last">
              Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз
            </td>
          </tr>
        </table>
      </div>
      <div>
        <table class="table">
          <caption class="table__title">
            Салати
          </caption>
          <tr class="">
            <th class="table__dish">Цезар з куркою</th>
            <th class="table__weight" rowspan="2">230 г</th>
            <th class="table__price" rowspan="2">450 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар
            </td>
          </tr>
          <tr>
            <th class="table__dish">Цезар з креветками</th>
            <th class="table__weight" rowspan="2">230 г</th>
            <th class="table__price" rowspan="2">300 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар
            </td>
          </tr>
          <tr>
            <th class="table__dish">Грецький салат</th>
            <th class="table__weight" rowspan="2">230 г</th>
            <th class="table__price" rowspan="2">280 грн</th>
          </tr>
          <tr>
            <td class="table__composition">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус
            </td>
          </tr>
          <tr>
            <th class="table__dish">М’ясний салат</th>
            <th class="table__weight" rowspan="2">230 г</th>
            <th class="table__price" rowspan="2">300 грн</th>
          </tr>
          <tr>
            <td class="table__composition table__composition--last">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч
            </td>
          </tr>
        </table>
        <table class="table">
          <caption class="table__title">
            Десерти
          </caption>
          <tr class="">
            <th class="table__dish table__dish--rare">Торт наполеон</th>
            <th class="table__weight table__weight--rare">230 г</th>
            <th class="table__price table__price--rare">300 грн</th>
          </tr>
          <tr class="">
            <th class="table__dish table__dish--rare">Торт маковий</th>
            <th class="table__weight table__weight--rare">230 г</th>
            <th class="table__price table__price--rare">300 грн</th>
          </tr>
          <tr class="">
            <th class="table__dish table__dish--rare table__dish--last">Тірамісу</th>
            <th class="table__weight table__weight--rare">120 г</th>
            <th class="table__price table__price--rare">260 грн</th>
          </tr>
        </table>
        <table class="table">
          <caption class="table__title">
            Напої
          </caption>
          <tr class="">
            <th class="table__dish table__dish--rare">Чай чорний/зелений</th>
            <th class="table__weight table__weight--rare">500 мл</th>
            <th class="table__price table__price--rare">100 грн</th>
          </tr>
          <tr class="">
            <th class="table__dish table__dish--rare">Еспресо</th>
            <th class="table__weight table__weight--rare">30 мл</th>
            <th class="table__price table__price--rare">100 грн</th>
          </tr>
          <tr class="">
            <th class="table__dish table__dish--rare">Американо</th>
            <th class="table__weight table__weight--rare">150 мл</th>
            <th class="table__price table__price--rare">100 грн</th>
          </tr>
          <tr class="">
            <th class="table__dish table__dish--rare">Капучино</th>
            <th class="table__weight table__weight--rare">200 мл</th>
            <th class="table__price table__price--rare">160 грн</th>
          </tr>
          <tr class="">
            <th class="table__dish table__dish--rare table__dish--last">Лате</th>
            <th class="table__weight table__weight--rare">200 мл</th>
            <th class="table__price table__price--rare">160 грн</th>
          </tr>
        </table>
      </div>
    </div>
    <button class="btn btn-modal-open btn-menu" type="button">Забронювати столик</button>
  </div>
</section>
