.roomluxe__container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 32px;
  padding-bottom: 32px;

  background: $bg-lemon-color;

  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width: 414px) {
    max-width: 414px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 62px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 72px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.roomluxe__note {
  list-style: none;
  margin-bottom: 32px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 72px;
  }
}

.roomluxe__text {
  font-family: Times New Roman;
  font-size: 20px;
  line-height: 1.15;

  margin-top: 0;
  margin-bottom: 8px;

  color: $tagline-color;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.roomluxe__logo {
  font-family: Film P3;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  margin: 0;

  color: $section-logo-color;

  @media screen and (min-width: 1024px) {
    font-size: 64px;
  }
}

// Заголовок секції

.roomluxe__title {
  font-family: Times New Roman;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 12px;

  color: $black-color;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    margin-bottom: 24px;
  }
}

.roomluxe__titlesmall {
  text-transform: lowercase;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.13;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

// Опис та фото номера
.roomluxe-roster__thumb {
  @media screen and (min-width: 1024px) {
    position: relative;
    margin-bottom: 176px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 188px;
  }
}

.roomluxe__roster {
  list-style: none;
  margin-bottom: 32px;

  @media screen and (min-width: 1024px) {
    display: flex;
    margin-bottom: 0;
  }
}

.roomluxe__item {
  margin: 0;

  &:first-child {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-left: 155px;
  }

  @media screen and (min-width: 1024px) {
    &:first-child {
      margin: 0;
      margin-right: 26px;
    }

    &:last-child {
      margin: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate(465px, 128px);
    }
  }

  @media screen and (min-width: 1280px) {
    &:first-child {
      margin: 0;
      margin-right: 155px;
    }

    &:last-child {
      transform: translate(554px, 142px);
    }
  }
}

.roomluxe__paragraf {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  width: 258px;
  margin: 0;

  color: $gray-text-color;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    width: 439px;
  }

  @media screen and (min-width: 1280px) {
    width: 400px;
  }
}

// Фото номеру (ванна та чашка) - позиціонування кнопок
.roomluxe__thumb {

  @media screen and (min-width: 1024px) {
    position: relative;
  }
}

// Посилання та кнопка

.roomluxe-filters {
  list-style: none;
  text-align: center;
}

.rooluxe-filters__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

// Посилання

.roomluxe-filters__thumb {
  @media screen and (min-width: 1024px) {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(-100px);
  }

  @media screen and (min-width: 1280) {
    position: absolute;
    transform: translateY(-150px);
  }
}

.roomluxe-filters__link {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-decoration: none;

  cursor: pointer;
  padding: 14px 64px;
  display: inline-block;

  background: $black-color;
  border: 2px solid $bg-lemon-color;
  border-radius: 25px;

  color: $accent-yellow-color;

  @media screen and (min-width: 1280px) {
    transition: border-color, background-color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      border-color: $accent-yellow-color;
      background-color: $white-color;
    }
  }
}

// Кнопка

.roomluxe-filters__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  cursor: pointer;
  padding: 14px 37px;

  background: $black-color;
  border: 2px solid $bg-lemon-color;
  border-radius: 25px;

  color: $accent-yellow-color;

  @media screen and (min-width: 1280px) {
    transition: border-color, background-color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      border-color: $accent-yellow-color;
      background-color: $white-color;
    }
  }
}

// Радіуси та тіні на фото

.roomluxe__apartment {
  border-radius: 2px;
  background: $img-background-color;
  box-shadow: $large-img-thumb-shadow;
}

// СЛАЙДЕР

.roomluxe-slides {
  list-style: none;

  position: relative;
  bottom: 0;
  left: -155px;

  transition: 1.5s all;
  padding-left: 0;

  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    margin-right: 355px;
  }

  @media (min-width: 1280px) {
    margin-right: 435px;
  }
}

.roomluxe-slides__slide {
  margin-left: 16px;

  @media (min-width: 1024px) {
    margin-left: 40px;
  }

  @media (min-width: 1280px) {
    margin-left: 50px;
  }
}

.roomluxe-slides__img {
  max-width: 194px;
  border-radius: 2px;
  background: $img-background-color;
  box-shadow: $small-img-thumb-shadow;

  @media (min-width: 1024px) {
    width: 194px;
  }

  @media (min-width: 1280px) {
    max-width: 254px;
    width: 254px;
  }
}

// SVG стрілочки

.roomluxe-slides__grup {
  display: flex;
  margin-bottom: 20px;
  margin-right: auto;
  margin-top: 20px;
  width: 100px;

  @media (min-width: 1024px) {
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: 325px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 40px;
    margin-left: 425px;
  }
}

.roomluxe-slides__left {
  margin-right: 32px;
  fill: currentColor;
  color: $black-color;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-yellow-color;
  }
}

.roomluxe-slides__right {

  &:hover,
  &:focus {
    fill: $accent-yellow-color;
  }
}