$white-color:#FFFFFF;
$bg-lemon-color:#FFFDEE;
$black-color:#000000;
$accent-yellow-color:#F3C653;
$bg-dark-lemon-color:#F0ECD6;
$brown-color:#C79002;
$footer-color:#0E0C07;

$shadow-header-background: #D9D9D9;
$shadow-header-color: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

$img-background-color: #dadada;
$small-img-thumb-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
$large-img-thumb-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);

$gray-text-color: #7A7A7A;
$modal-gray-text-color: #808080;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
