/* General */

// @import './common';
@import './utils/variables';
@import './fonts';
@import './utils/base';
@import './utils/logo';
@import './utils/mixins';
@import './utils/button';

@import './components/header';
@import './components/footer';
@import './components/hero';

/* main.html он же index.html */



/* restaurant.html */

// menu-restaurant
@import './components/restaurant/menu-restaurant';


/* hotel.html */
@import './components/hotel/roomluxe';



/* room.html */

@import './components/room/room-amenities';