@charset "UTF-8";
/* General */
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local(""), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Film P3";
  src: local(""), url("../fonts/film-p3-bold.woff2") format("woff2"), url("../fonts/film-p3-bold.woff") format("woff"), url("../fonts/film-p3-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-bold.woff2") format("woff2"), url("../fonts/times-new-roman-bold.woff") format("woff"), url("../fonts/times-new-roman-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: local(""), url("../fonts/times-new-roman-regular.woff2") format("woff2"), url("../fonts/times-new-roman-regular.woff") format("woff"), url("../fonts/times-new-roman-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #7A7A7A;
  background-color: #FFFDEE;
  font-family: "Montserrat", sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

button {
  border: 0;
}

th,
tr,
td {
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Film P3", "sans-serif";
  text-transform: uppercase;
}

/* Mixins */ /* Button */
.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}

.btn-modal-open {
  width: 236px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #F3C653;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-open:hover, .btn-modal-open:focus {
  border-color: #F3C653;
  background-color: #FFFFFF;
}

.btn-modal-open--transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 236px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #F3C653;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-link:hover, .btn-link:focus {
  border-color: #F3C653;
  background-color: #FFFFFF;
}

.btn-link--transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-roompage-modal-open {
  width: 434px;
  height: 64px;
  border: 1px solid #F3C653;
  border-radius: 25px;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
  text-transform: uppercase;
  color: #FFFFFF;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-roompage-modal-open:hover, .btn-roompage-modal-open:focus {
  color: #000000;
  background-color: #F3C653;
}
@media screen and (max-width: 1023.99px) {
  .btn-roompage-modal-open {
    width: 384px;
  }
}

.btn-modal-submit {
  width: 592px;
  height: 64px;
  border: 1px solid #F3C653;
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
  text-transform: uppercase;
  color: #FFFFFF;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-submit:hover, .btn-modal-submit:focus {
  color: #000000;
  background-color: #F3C653;
}
@media screen and (max-width: 1023.99px) {
  .btn-modal-submit {
    width: 384px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 24px;
  padding-bottom: 12px;
}
.header__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
}
.header__logo {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 1.08;
  font-weight: 700;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 414px) {
  .header__logo {
    font-size: 36px;
    line-height: 1.08;
    font-weight: 700;
    letter-spacing: 0.3em;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    font-size: 40px;
    line-height: 1.08;
    font-weight: 700;
    letter-spacing: 0.3em;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: 135px;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-left: auto;
}
@media screen and (min-width: 414px) {
  .header__contacts {
    gap: 26px;
  }
}
@media screen and (min-width: 1024px) {
  .header__contacts {
    gap: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .header__contacts {
    margin-left: 0px;
  }
}

.contacts-list__item {
  display: flex;
  align-items: center;
  gap: 6px;
}
@media screen and (min-width: 414px) {
  .contacts-list__item {
    gap: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-list__item {
    gap: 32px;
  }
}
.contacts-list__title {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  color: #F3C653;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 414px) {
  .contacts-list__title {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-list__title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
.contacts-list__tel {
  padding: 9px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contacts-list__tel {
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    width: 148px;
    gap: 14px;
    padding: 8px;
  }
}
.contacts-list__icon {
  width: 10px;
  height: 16px;
  fill: #F3C653;
}
@media screen and (min-width: 414px) {
  .contacts-list__icon {
    width: 12px;
    height: 20px;
  }
}
.contacts-list__phone-number {
  display: none;
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .contacts-list__phone-number {
    display: inline-block;
  }
}

.header-soc-list {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header-soc-list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
  }
}
.header-soc-list__icon {
  width: 22px;
  height: 22px;
  fill: rgba(243, 198, 83, 0.7);
  transform: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform transition-duration transition-timing-function;
}
.header-soc-list__icon:hover, .header-soc-list__icon:focus {
  fill: #F3C653;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  justify-content: space-around;
  align-items: center;
  padding: 40px 15px;
  color: #F3C653;
  background-color: #0E0C07;
}
.footer__logo {
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  max-width: 127px;
}
.footer__nav {
  margin-bottom: 32px;
}
.footer__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus, .footer__link:hover {
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 80px 0;
  }
  .footer__logo {
    font-size: 64px;
    max-width: 202px;
  }
  .footer__list {
    display: flex;
  }
  .footer__nav {
    margin-right: 137px;
    margin-bottom: 0;
  }
}

.social {
  display: flex;
}
.social__link {
  fill: rgba(243, 198, 83, 0.7);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:focus, .social__link:hover {
  fill: #FFFFFF;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
@media screen and (max-width: 1023px) {
  .social__item:not(:last-child) {
    margin-right: 20px;
  }
  .social__span {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .social {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .social__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 144px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
  }
  .social__item {
    align-items: center;
  }
  .social__item:not(:first-child) {
    margin-bottom: 12px;
  }
}

.hero {
  padding: 181px 0 102px 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 188px 0 64px 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 164px 0 65px 0;
  }
}
.hero__container {
  position: relative;
}
.hero__title {
  width: 303px;
  margin: 0 auto 24px;
  font-family: "Film P3", "sans-serif";
  font-size: 92px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (min-width: 414px) {
  .hero__title {
    font-size: 96px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    width: 404px;
    margin-bottom: 16px;
    font-size: 128px;
    line-height: 1.08;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 32px;
  }
}
.hero__title-restaurant {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .hero__title-restaurant {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title-restaurant {
    margin-bottom: 32px;
  }
}
.hero__title-hotel {
  margin-bottom: 32px;
}
.hero__subtitle {
  width: 294px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    width: 368px;
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}
.hero__subtitle-restaurant {
  margin-bottom: 44px;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle-restaurant {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle-restaurant {
    margin-bottom: 64px;
  }
}
.hero__subtitle-hotel {
  margin-bottom: 182px;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle-hotel {
    margin-bottom: 226px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle-hotel {
    margin-bottom: 249px;
  }
}
.hero__text {
  margin: 0 auto;
  margin-bottom: 113px;
  font-family: "Times New Roman", "sans-serif";
  font-size: 32px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .hero__text {
    margin-bottom: 145px;
    font-size: 36px;
    line-height: 1.14;
  }
}
@media screen and (max-width: 1023px) {
  .hero__button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .hero__button-mobile-margin {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__button-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }
}
.hero__address {
  position: absolute;
  bottom: 527px;
  right: 15px;
  display: flex;
  align-items: center;
  width: 210px;
  height: 47px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .hero__address {
    top: 412px;
    left: 47px;
    width: 285px;
    height: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__address {
    top: 436px;
    left: 85px;
  }
}
.hero__address-link {
  display: flex;
  align-items: center;
  text-align: start;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}
@media screen and (min-width: 1024px) {
  .hero__address-link {
    font-size: 16px;
  }
}
.hero__address-icon-mobile {
  margin-left: 6px;
  margin-right: 10px;
  fill: #F3C653;
}
@media screen and (min-width: 1024px) {
  .hero__address-icon-mobile {
    display: none;
  }
}
.hero__address-icon-tablet {
  margin-left: 6px;
  margin-right: 10px;
  fill: #F3C653;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero__address-icon-tablet {
    display: none;
  }
}
.hero__address-icon-tablet {
  margin-left: 6px;
  margin-right: 10px;
  fill: #F3C653;
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .hero__address-icon-tablet {
    display: none;
  }
}
.hero__soc-wrap {
  position: absolute;
  top: 515px;
}
@media screen and (min-width: 1024px) {
  .hero__soc-wrap {
    top: 493px;
    left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__soc-wrap {
    display: none;
  }
}
.hero__soc-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 112px;
  height: 24px;
}
.hero__soc-icon {
  fill: rgba(243, 198, 83, 0.7);
  transform: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill, transition-duration, transition-timing-function;
}
.hero__soc-icon:hover, .hero__soc-icon:focus {
  fill: #F3C653;
}

.overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 414px;
}
.overlay__main {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/main-page/bg/main-hero-mobile-@1x.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/main-page/bg/main-hero-mobile-@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .overlay__main {
    max-width: 1024px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/main-page/bg/main-hero-tablet-@1x.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .overlay__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/main-page/bg/main-hero-tablet-@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .overlay__main {
    max-width: 1280px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/main-page/bg/main-hero-desktop-@1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .overlay__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/main-page/bg/main-hero-desktop-@2x.jpg");
  }
}
.overlay__restaurant {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/restaurant-page/bg/restaurant-hero-mobile-@1x.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/restaurant-page/bg/restaurant-hero-mobile-@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .overlay__restaurant {
    max-width: 1024px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/restaurant-page/bg/restaurant-hero-tablet-@1x.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .overlay__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/restaurant-page/bg/restaurant-hero-tablet-@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .overlay__restaurant {
    max-width: 1280px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/restaurant-page/bg/restaurant-hero-desktop-@1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .overlay__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/restaurant-page/bg/restaurant-hero-desktop-@2x.jpg");
  }
}
.overlay__hotel {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/hotel-page/bg/hotel-hero-mobile-@1x.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/hotel-page/bg/hotel-hero-mobile-@2x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .overlay__hotel {
    max-width: 1024px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/hotel-page/bg/hotel-hero-tablet-@1x.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .overlay__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/hotel-page/bg/hotel-hero-tablet-@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .overlay__hotel {
    max-width: 1280px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/hotel-page/bg/hotel-hero-desktop-@1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .overlay__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../images/hotel-page/bg/hotel-hero-desktop-@2x.jpg");
  }
}

@media screen and (max-width: 1023px) {
  .btn-modal-open-mobile {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .btn-link-mobile {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .btn-link-mobile {
    margin-bottom: 0;
  }
}

/* main.html он же index.html */
/* restaurant.html */
.page-menu {
  background: #F0ECD6;
  color: #000000;
}

.page-menu__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .page-menu__title {
    margin-bottom: 20px;
  }
}

.container-menu {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .container-menu {
    padding-top: 58px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container-menu {
    padding-top: 58px;
    padding-bottom: 60px;
  }
}

.table {
  table-layout: fixed;
  width: 100%;
}
.table__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: start;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .table__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .table__title {
    font-size: 24px;
    line-height: 1.17;
  }
}

th,
tr,
td {
  padding: 0;
}

.table__weight {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
}
.table__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: end;
}
.table__dish {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  width: 226px;
  text-align: start;
  padding-bottom: 4px;
}
@media screen and (min-width: 1280px) {
  .table__dish {
    font-size: 16px;
    line-height: 1.25;
    width: 291px;
  }
}
.table__dish--rare, .table__weight--rare, .table__price--rare {
  padding-bottom: 8px;
}
.table__dish--last {
  padding-bottom: 0;
}
.table__composition {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: start;
  padding-bottom: 8px;
}
.table__composition--last {
  padding-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .table-position {
    display: flex;
    -moz-column-gap: 88px;
         column-gap: 88px;
  }
}
@media screen and (min-width: 1280px) {
  .table-position {
    -moz-column-gap: 140px;
         column-gap: 140px;
  }
}

.btn-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
@media screen and (min-width: 1024px) {
  .btn-menu {
    margin-right: 0;
  }
}

/* hotel.html */
.roomluxe {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .roomluxe {
    padding-top: 64px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe {
    padding-top: 72px;
  }
}

.roomluxe__note {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .roomluxe__note {
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe__note {
    margin-bottom: 72px;
  }
}

.roomluxe__text {
  font-family: Times New Roman;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 8px;
  color: #b4b4b4;
}
@media screen and (min-width: 1024px) {
  .roomluxe__text {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.roomluxe__logo {
  font-family: Film P3;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .roomluxe__logo {
    font-size: 64px;
  }
}

.roomluxe__title {
  font-family: Times New Roman;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .roomluxe__title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe__title {
    font-size: 36px;
    margin-bottom: 24px;
  }
}

.roomluxe__titlesmall {
  text-transform: lowercase;
}
@media screen and (min-width: 1024px) {
  .roomluxe__titlesmall {
    font-size: 30px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe__titlesmall {
    font-size: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .roomluxe-roster__thumb {
    position: relative;
    margin-bottom: 176px;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe-roster__thumb {
    margin-bottom: 188px;
  }
}

.roomluxe__roster {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .roomluxe__roster {
    display: flex;
    margin-bottom: 0;
  }
}

.roomluxe__item {
  margin: 0;
}
.roomluxe__item:first-child {
  margin-bottom: 32px;
}
.roomluxe__item:last-child {
  margin-left: 155px;
}
@media screen and (min-width: 1024px) {
  .roomluxe__item:first-child {
    margin: 0;
    margin-right: 26px;
  }
  .roomluxe__item:last-child {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(465px, 128px);
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe__item:first-child {
    margin: 0;
    margin-right: 155px;
  }
  .roomluxe__item:last-child {
    transform: translate(554px, 142px);
  }
}

.roomluxe__paragraf {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 258px;
  margin: 0;
  color: #7A7A7A;
}
@media screen and (min-width: 1024px) {
  .roomluxe__paragraf {
    font-size: 16px;
    width: 439px;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe__paragraf {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .roomluxe__thumb {
    position: relative;
  }
}

.roomluxe-foto__thumb {
  position: relative;
}

.roomluxe-foto {
  position: relative;
  bottom: 0;
  left: -15px;
  display: flex;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .roomluxe-foto {
    margin-bottom: 32px;
    left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe-foto {
    margin-bottom: 40px;
  }
}

.roomluxe-foto__item {
  margin-right: 16px;
}
.roomluxe-foto__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .roomluxe-foto__item {
    margin-right: 40px;
  }
}

.roomluxe-icon {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .roomluxe-icon {
    margin-bottom: 0;
    margin-left: 329px;
  }
}
@media screen and (min-width: 1280px) {
  .roomluxe-icon {
    margin-left: 452px;
  }
}

.roomluxe-icon__item {
  margin-right: 32px;
  fill: currentColor;
  color: #000000;
}
.roomluxe-icon__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1280px) {
  .roomluxe-icon__item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .roomluxe-icon__item:hover, .roomluxe-icon__item:focus {
    color: #F3C653;
  }
}

.roomluxe-filters {
  text-align: center;
}

.rooluxe-filters__item {
  margin-bottom: 16px;
}
.rooluxe-filters__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .roomluxe-filters__thumb {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(-100px);
  }
}

.roomluxe-filters__link {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 64px;
  display: inline-block;
  background: #000000;
  border: 2px solid #FFFDEE;
  border-radius: 25px;
  color: #F3C653;
}
@media screen and (min-width: 1280px) {
  .roomluxe-filters__link {
    transition: border-color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .roomluxe-filters__link:hover, .roomluxe-filters__link:focus {
    border-color: #F3C653;
    background-color: #FFFFFF;
  }
}

.roomluxe-filters__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 14px 37px;
  background: #000000;
  border: 2px solid #FFFDEE;
  border-radius: 25px;
  color: #F3C653;
}
@media screen and (min-width: 1280px) {
  .roomluxe-filters__button {
    transition: border-color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .roomluxe-filters__button:hover, .roomluxe-filters__button:focus {
    border-color: #F3C653;
    background-color: #FFFFFF;
  }
}

.roomluxe__room {
  border-radius: 2px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.roomluxe__apartment {
  border-radius: 2px;
  background: #dadada;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
}

/* room.html */
.room-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 414px) {
  .room-container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .room-container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .room-container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.room-amenities {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .room-amenities {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .room-amenities {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.room-title {
  margin-bottom: 16px;
  color: #000000;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.15;
}

.room-description {
  margin-bottom: 32px;
  color: #7A7A7A;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1024px) {
  .room-description {
    width: 757px;
  }
}

.amenities {
  padding-left: 0;
  margin: 0;
}

.category {
  list-style: none;
}

.category-title {
  margin-bottom: 16px;
  color: #000000;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.category-diteils {
  margin-bottom: 16px;
  color: #7A7A7A;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.category-diteils:last-child {
  margin-right: 0;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .category-diteils {
    width: 400px;
    margin-bottom: 0;
  }
}

.category-nicety {
  margin-bottom: 16px;
  color: #7A7A7A;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
}
.category-nicety:last-child {
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .category-nicety {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .thumb {
    display: flex;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .thumb {
    gap: 159px;
  }
}

.addinfo-booking {
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .addinfo-booking {
    margin-left: 494px;
  }
}
@media screen and (min-width: 1280px) {
  .addinfo-booking {
    margin-left: 563px;
  }
}

.booking-button {
  padding: 18px 38px;
  margin-bottom: 32px;
  min-width: 384px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-color: #000000;
  border: 1px solid #F3C653;
  border-radius: 25px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.booking-button:hover, .booking-button:focus {
  color: #000000;
  background-color: #F3C653;
}
@media screen and (min-width: 1024px) {
  .booking-button {
    min-width: 434px;
    font-size: 24px;
  }
}

.amenities-link {
  display: flex;
  gap: 12px;
  justify-content: center;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #C79002;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.amenities-link:hover, .amenities-link:focus {
  color: #F3C653;
}
@media screen and (min-width: 1024px) {
  .amenities-link {
    gap: 16px;
    font-size: 20px;
    line-height: 1.2;
    justify-content: flex-start;
  }
}

.link-icon {
  width: 24px;
  height: 24px;
  align-items: center;
  fill: currentColor;
}
.link-icon__icon:hover, .link-icon__icon:focus {
  color: #F3C653;
}/*# sourceMappingURL=index.css.map */