/* Mixins */

@mixin transition($property...) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin retina {
  @media (min-device-pixel-ratio:2),
  (min-resolution:192dpi),
  (min-resolution:2dppx){@content;}
}