<section class="kitchen">
  <div class="kitchen-conteiner">
    <p class="kitchen-text">Amet minim mollit non</p>
    <h2 class="kitchen-h">МІМІНО</h2>
    <ul class="kitchen-cards">
      <li class="kitchen-card-right">
        <p class="kitchen-card-right__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <img
          src="./img/restaurant-interior 2.jpg"
          class="kitchen-card-right__img"
          alt="готують їсти"
        />
      </li>
      <li class="kitchen-card-left">
        <img
          src="./img/pexels-oruri-jacome.jpg"
          width="200px"
          height="278px"
          class="kitchen-card-left__img"
          alt="м`ясо"
        />
        <p class="kitchen-card-left__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <ul>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </div>
</section>
