.room-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 414px) {
        max-width: 414px;
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
        padding-left: 47px;
        padding-right: 47px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding-left: 85px;
        padding-right: 85px;

    }
}

.room-amenities {
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 1024px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.room-title {
    margin-bottom: 16px;
    color: $black-color;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
}

.room-description {
    margin-bottom: 32px;

    color: $gray-text-color;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    @media screen and (min-width: 1024px) {
        width: 757px;
    }
}

.amenities {
    padding-left: 0;
    margin: 0;
}

.category {
    list-style: none;
}

.category-title {
    margin-bottom: 16px;

    color: $black-color;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
}

.category-diteils {
    margin-bottom: 16px;
    color: $gray-text-color;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    &:last-child {
        margin-right: 0;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) {
        width: 400px;
        margin-bottom: 0;
    }
}

.category-nicety {
    margin-bottom: 16px;

    color: $gray-text-color;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    &:last-child {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1024px) {
        width: 400px;
    }
}

.thumb {

    @media screen and (min-width: 1024px) {
        display: flex;
        gap: 80px;
    }

    @media screen and (min-width: 1280px) {
        gap: 159px;
    }
}

// .addinfo {
//     padding-left: 0;
//     margin: 0;
// }

.addinfo-booking {
    list-style: none;

    @media screen and (min-width: 1024px) {
        margin-left: 494px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 563px;
    }
}


.booking-button {
    padding: 18px 38px;
    margin-bottom: 32px;

    min-width: 384px;
    color: $white-color;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    background-color: $black-color;
    border: 1px solid $accent-yellow-color;
    border-radius: 25px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // text-align: center;
    &:hover,
    &:focus {
        color: $black-color;
        background-color: $accent-yellow-color;
    }

    @media screen and (min-width: 1024px) {
        min-width: 434px;
        font-size: 24px;
    }
}

.link {
    display: flex;
    gap: 12px;
    justify-content: center;

    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: $brown-color;

    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-yellow-color;
    }

    @media screen and (min-width: 1024px) {
        gap: 16px;
        font-size: 20px;
        line-height: 1.2;
        justify-content: flex-start;
    }
}

.link-icon {
    // margin-left: 16px;
    width: 24px;
    height: 24px;
    align-items: center;
    fill: currentColor;

    &__icon:hover,
    &__icon:focus {
        color: $accent-yellow-color;
    }
}