  <section class="room-hero">
    
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/room-pages/room-hero-luxe-desktop.jpg 1x, ./images/room-pages/room-hero-luxe-desktop@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="./images/room-pages/room-hero-luxe-tablet.jpg 1x, ./images/room-pages/room-hero-luxe-tablet@2x.jpg 2x" media="(min-width: 1024px)">
            <img srcset="./images/room-pages/room-hero-luxe-mobile.jpg 1x, ./images/room-pages/room-hero-luxe-mobile@2x.jpg 2x" src="./images/room-pages/room-hero-luxe-mobile.jpg" alt="Двомісний номер люкс">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/room-pages/room-hero-interrior-desktop.jpg 1x, ./images/room-pages/room-hero-interrior-desktop@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="./images/room-pages/room-hero-interrior-tablet.jpg 1x, ./images/room-pages/room-hero-interrior-tablet@2x.jpg 2x" media="(min-width: 1024px)">
            <img srcset="./images/room-pages/room-hero-interrior-mobile.jpg 1x, ./images/room-pages/room-hero-interrior-mobile@2x.jpg 2x" src="./images/room-pages/room-hero-interrior-mobile.jpg" alt="Вітальня двомісного номеру люкс">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="./images/room-pages/room-hero-badroom-desktop.jpg 1x, ./images/room-pages/room-hero-badroom-desktop@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="./images/room-pages/room-hero-badroom-tablet.jpg 1x, ./images/room-pages/room-hero-badroom-tablet@2x.jpg 2x" media="(min-width: 1024px)">
            <img srcset="./images/room-pages/room-hero-badroom-mobile.jpg 1x, ./images/room-pages/room-hero-badroom-mobile@2x.jpg 2x" src="./images/room-pages/room-hero-badroom-mobile.jpg" alt="Ванна кімната двомісного номеру люкс">
          </picture>
        </div>
      </div>

      <div class="swiper-button-next">
        <svg class="sbn-icon">
          <use href="./images/icons.svg#clic-arrow-right"></use>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg class="sbn-icon">
          <use href="./images/icons.svg#clic-arrow-left"></use>
        </svg>
      </div>
    </div>

    <div class="room-container">
      <h1 class="room-hero-title">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="short-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <div class="room-contacts">
        <address class="address">
            <svg class="address-point">
              <use href="./images/icons.svg#icon-point"></use>
            </svg>
          <a href="https://goo.gl/maps/ATwjEWN8sphHWL9q6"
          class="address-superscription"
          target="_blank"
          rel="noreferrer noopener nofollow">
          Україна, м. Полтава,<br>ул. Маршала Бірюзова, 15</a>
        </address>

        <ul class="tablet-social">
          <li class="social-item">
            <a class="network" href="https://www.instagram.com/" 
            target="_blank"
            rel="nofollow noopener noreferrer">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="social-item">
            <a class="network" href="https://www.facebook.com/" 
            target="_blank"
            rel="nofollow noopener noreferrer">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social-item">
            <a class="network" href="https://telegram.org/"
            target="_blank"
            rel="nofollow noopener noreferrer">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul> 
      </div>

    <ul class="social">
          <li class="social-item">
            <a class="network" href="https://www.instagram.com/" 
            target="_blank"
            rel="nofollow noopener noreferrer">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="social-item">
            <a class="network" href="https://www.facebook.com/" 
            target="_blank"
            rel="nofollow noopener noreferrer">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social-item">
            <a class="network" href="https://telegram.org/"
            target="_blank"
            rel="nofollow noopener noreferrer">
              <svg class="social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
    </ul>        
    
      <button class="btn-room-modal-open js-open-modal" data-modal="3" type="button">Переглянути ціни</button>
    </div>

  </section>