<section class="container-room">
  <div class="room room__gradient"></div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/room-pages/bg/rooms-1-hero-desktop-@1x.webp 1x,
              ./images/room-pages/bg/rooms-1-hero-desktop-@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-1-hero-tablet-@1x.webp 1x,
              ./images/room-pages/bg/rooms-1-hero-tablet-@2x.webp 2x
            "
            media="(min-width: 1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-1-hero-mobile-@1x.webp 1x,
              ./images/room-pages/bg/rooms-1-hero-mobile-@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-1-hero-desktop-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-1-hero-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-1-hero-tablet-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-1-hero-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-1-hero-mobile-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-1-hero-mobile-@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/room-pages/bg/rooms-1-hero-desktop-@1x.jpg"
            alt="фото рецепцї"
            class="img"
          />
        </picture>
        <div class="room__info">
          <h1 class="room__title"><span class="room__subtitle">Двомісний номер&nbsp;</span>люкс</h1>
          <p class="room__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <div class="room__contact">
            <address class="room__address">
              <a
                class="room__address-link link"
                href="#"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="room__address-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-point"></use></svg> 
                  Україна, м. Полтава,
                <br />
                вул. Маршала Бірюзова, 15</a
              >
            </address>
            <ul class="room__soc-list list">
              <li class="room__soc-item">
                <a
                  href="https://www.instagram.com/"
                  class="room__soc-link"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="room__soc-item">
                <a
                  href="https://www.facebook.com/"
                  class="room__soc-link"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="room__soc-item">
                <a
                  href="https://telegram.org/"
                  class="room__soc-link"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                >
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button
          class="btn btn-modal-open btn-modal-open--transparent room__btn js-open-modal"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/room-pages/bg/rooms-2-hero-desktop-@1x.webp 1x,
              ./images/room-pages/bg/rooms-2-hero-desktop-@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-2-hero-tablet-@1x.webp 1x,
              ./images/room-pages/bg/rooms-2-hero-tablet-@2x.webp 2x
            "
            media="(min-width: 1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-2-hero-mobile-@1x.webp 1x,
              ./images/room-pages/bg/rooms-2-hero-mobile-@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-2-hero-desktop-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-2-hero-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-2-hero-tablet-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-2-hero-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-2-hero-mobile-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-2-hero-mobile-@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/room-pages/bg/rooms-2-hero-desktop-@1x.jpg"
            alt="фото готельного номера"
            class="img"
          />
        </picture>
        <div class="room__info">
          <h1 class="room__title">
            <span class="room__subtitle">Трьохмісний номер </span>
          </h1>
          <p class="room__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <div class="room__contact room__contact--margin">
            <address class="room__address">
              <a
                class="room__address-link link"
                href="https://goo.gl/maps/ithtjKm9xKE7jttB6"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="room__address-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-point"></use></svg> 
                  Україна, м. Полтава,
                <br />
                вул. Маршала Бірюзова, 15</a
              >
            </address>
            <ul class="room__soc-list list">
              <li class="room__soc-item">
                <a href="" class="room__soc-link">
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="room__soc-item">
                <a href="" class="room__soc-link">
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="room__soc-item">
                <a href="" class="room__soc-link">
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button
          class="btn btn-modal-open btn-modal-open--transparent room__btn js-open-modal"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/room-pages/bg/rooms-3-hero-desktop-@1x.webp 1x,
              ./images/room-pages/bg/rooms-3-hero-desktop-@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-3-hero-tablet-@1x.webp 1x,
              ./images/room-pages/bg/rooms-3-hero-tablet-@2x.webp 2x
            "
            media="(min-width: 1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-3-hero-mobile-@1x.webp 1x,
              ./images/room-pages/bg/rooms-3-hero-mobile-@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-3-hero-desktop-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-3-hero-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-3-hero-tablet-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-3-hero-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/room-pages/bg/rooms-3-hero-mobile-@1x.jpg 1x,
              ./images/room-pages/bg/rooms-3-hero-mobile-@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/room-pages/bg/rooms-3-hero-desktop-@1x.jpg"
            alt="фото ванної кімнати"
            class="img"
          />
        </picture>
        <div class="room__info">
          <h1 class="room__title">
            <span class="room__subtitle">Двомісний номер </span>
          </h1>
          <p class="room__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <div class="room__contact room__contact--margin">
            <address class="room__address">
              <a
                class="room__address-link link"
                href="https://goo.gl/maps/ithtjKm9xKE7jttB6"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="room__address-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-point"></use></svg
                >Україна, м. Полтава,
                <br />
                вул. Маршала Бірюзова, 15</a
              >
            </address>
            <ul class="room__soc-list list">
              <li class="room__soc-item">
                <a href="" class="room__soc-link">
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="room__soc-item">
                <a href="" class="room__soc-link">
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="room__soc-item">
                <a href="" class="room__soc-link">
                  <svg class="room__soc-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button
          class="btn btn-modal-open btn-modal-open--transparent room__btn js-open-modal"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
