<section class="room-amenities">
  <div class="room-container">
    <h2 class="room-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
      consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </p>

    <ul class="amenities">
      <li class="category">
        <h3 class="category-title">ЗАГАЛЬНІ</h3>
        <div class="thumb">
          <p class="category-diteils">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="category-diteils">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>

      <li class="category">
        <h3 class="category-title">ВАННА КІМНАТА</h3>
        <div class="thumb">
          <p class="category-diteils">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="category-diteils">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>

      <li class="category">
        <h3 class="category-title">СПАЛЬНЯ</h3>
        <p class="category-nicety">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </li>

      <li class="category">
        <h3 class="category-title">КУХНЯ</h3>
        <div class="thumb">
          <p class="category-diteils">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
          <p class="category-diteils">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
        </div>
      </li>

      <li class="category">
        <h3 class="category-title">МЕДІА</h3>
        <p class="category-nicety">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit.
        </p>
      </li>
    </ul>

    <ul class="addinfo">
      <li class="addinfo-booking">
        <button class="booking-button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
      </li>

      <li class="addinfo-booking">
        <a href="#" class="amenities-link"
          >Повернутися до перегляду номерів
          <svg class="link-icon">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
