// body[style*='overflow: hidden'] {
//   @media screen and (min-width: 1024px) {
//     margin-right: 16px;
//   }
// }
// @media screen and (min-width: 960px) {
//   html {
//     margin-left: calc(100vw - 100%);
//     margin-right: 0;
//   }
// }
.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.overlay-modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: all 1250ms $cubic-bezier;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%) perspective(600px) rotateX(45deg) scale(0.3);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #fff;
  transition: all 1250ms $cubic-bezier;
}

.modal.active,
.overlay-modal.active {
  opacity: 1;
  visibility: visible;
}
.modal.active {
  transform: translate(-50%, -50%) perspective(600px) rotateX(0deg) scale(1);
}

.btn-modal-submit__cursor {
  cursor: pointer;
}
