<!--2luxe-->
<section>
  <div class="roomluxe__container">
    <ul class="roomluxe__note list">
      <li>
        <p class="roomluxe__text wow animate__animated animate__backInLeft">
          Amet minim mollit non
        </p>
      </li>
      <li>
        <p class="roomluxe__logo wow animate__animated animate__backInLeft">Mimiho</p>
      </li>
    </ul>
    <h2 class="roomluxe__title">Двомісний номер <span class="roomluxe__titlesmall">люкс</span></h2>
    <div class="roomluxe-roster__thumb">
      <ul class="roomluxe__roster list">
        <li class="roomluxe__item">
          <p class="roomluxe__paragraf">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </li>
        <li class="roomluxe__item">
          <picture>
            <source
              srcset="
                ./images/hotel-page/2luxe/desktop/apartment-@1x.jpg 1x,
                ./images/hotel-page/2luxe/desktop/apartment-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/2luxe/tablet/apartment-@1x.jpg 1x,
                ./images/hotel-page/2luxe/tablet/apartment-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              class="roomluxe__apartment"
              srcset="
                ./images/hotel-page/2luxe/mobile/apartment-@1x.jpg 1x,
                ./images/hotel-page/2luxe/mobile/apartment-@2x.jpg 2x
              "
              src="./images/hotel-page/2luxe/mobile/apartment-@1x.jpg"
              alt="Кімната, двомісне ліжко, інтер'єр кімнати"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="roomluxe__thumb">
      <ul class="roomluxe-slides">
        <li class="roomluxe-slides__slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/2luxe/desktop/slider/apartment01-@1x.jpg 1x,
                ./images/hotel-page/2luxe/desktop/slider/apartment01-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/2luxe/tablet/slider/apartment01-@1x.jpg 1x,
                ./images/hotel-page/2luxe/tablet/slider/apartment01-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/hotel-page/2luxe/mobile/slider/apartment01-@1x.jpg 1x,
                ./images/hotel-page/2luxe/mobile/slider/apartment01-@2x.jpg 2x
              "
              src="./images/hotel-page/2luxe/mobile/slider/apartment01-@1x.jpg"
              class="roomluxe-slides__img"
              alt="Жовтий диван, вазон, журнальний столик, дзеркало, полиця"
            />
          </picture>
        </li>
        <li class="roomluxe-slides__slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/2luxe/desktop/slider/apartment02-@1x.jpg 1x,
                ./images/hotel-page/2luxe/desktop/slider/apartment02-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/2luxe/tablet/slider/apartment02-@1x.jpg 1x,
                ./images/hotel-page/2luxe/tablet/slider/apartment02-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/hotel-page/2luxe/mobile/slider/apartment02-@1x.jpg 1x,
                ./images/hotel-page/2luxe/mobile/slider/apartment02-@2x.jpg 2x
              "
              src="./images/hotel-page/2luxe/mobile/slider/apartment02-@1x.jpg"
              class="roomluxe-slides__img"
              alt="Чорний диван з світлими подушками, вазон, тумба на ній ваза з колосками"
            />
          </picture>
        </li>
        <li class="roomluxe-slides__slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/2luxe/desktop/slider/apartment03-@1x.jpg 1x,
                ./images/hotel-page/2luxe/desktop/slider/apartment03-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/2luxe/tablet/slider/apartment03-@1x.jpg 1x,
                ./images/hotel-page/2luxe/tablet/slider/apartment03-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/hotel-page/2luxe/mobile/slider/apartment03-@1x.jpg 1x,
                ./images/hotel-page/2luxe/mobile/slider/apartment03-@2x.jpg 2x
              "
              src="./images/hotel-page/2luxe/mobile/slider/apartment03-@1x.jpg"
              class="roomluxe-slides__img"
              alt="Білий диван, шафа, журнальний столик, зелені подушки, піаніно, стілець"
            />
          </picture>
        </li>
        <li class="roomluxe-slides__slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/2luxe/desktop/slider/apartment04-@1x.jpg 1x,
                ./images/hotel-page/2luxe/desktop/slider/apartment04-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/2luxe/tablet/slider/apartment04-@1x.jpg 1x,
                ./images/hotel-page/2luxe/tablet/slider/apartment04-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/hotel-page/2luxe/mobile/slider/apartment04-@1x.jpg 1x,
                ./images/hotel-page/2luxe/mobile/slider/apartment04-@2x.jpg 2x
              "
              src="./images/hotel-page/2luxe/mobile/slider/apartment04-@1x.jpg"
              class="roomluxe-slides__img"
              alt="Біла ванна на ній рушник, стілець з кремами"
            />
          </picture>
        </li>
        <li class="roomluxe-slides__slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/2luxe/desktop/slider/apartment05-@1x.jpg 1x,
                ./images/hotel-page/2luxe/desktop/slider/apartment05-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/2luxe/tablet/slider/apartment05-@1x.jpg 1x,
                ./images/hotel-page/2luxe/tablet/slider/apartment05-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/hotel-page/2luxe/mobile/slider/apartment05-@1x.jpg 1x,
                ./images/hotel-page/2luxe/mobile/slider/apartment05-@2x.jpg 2x
              "
              src="./images/hotel-page/2luxe/mobile/slider/apartment05-@1x.jpg"
              class="roomluxe-slides__img"
              alt="Білий рукомийник"
            />
          </picture>
        </li>
        <li class="roomluxe-slides__slide">
          <picture>
            <source
              srcset="
                ./images/hotel-page/2luxe/desktop/slider/apartment06-@1x.jpg 1x,
                ./images/hotel-page/2luxe/desktop/slider/apartment06-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-page/2luxe/tablet/slider/apartment06-@1x.jpg 1x,
                ./images/hotel-page/2luxe/tablet/slider/apartment06-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/hotel-page/2luxe/mobile/slider/apartment06-@1x.jpg 1x,
                ./images/hotel-page/2luxe/mobile/slider/apartment06-@2x.jpg 2x
              "
              src="./images/hotel-page/2luxe/mobile/slider/apartment06-@1x.jpg"
              class="roomluxe-slides__img"
              alt="Сірий рукомийник"
            />
          </picture>
        </li>
      </ul>

      <div class="roomluxe-slides__grup">
        <svg width="32" height="32" class="roomluxe-slides__left">
          <use href="./images/icons.svg#clic-arrow-left"></use>
        </svg>
        <svg width="32" height="32" class="roomluxe-slides__right">
          <use href="./images/icons.svg#clic-arrow-right"></use>
        </svg>
      </div>

      <div class="roomluxe-filters__thumb">
        <ul class="roomluxe-filters list">
          <li class="rooluxe-filters__item">
            <a
              class="roomluxe-filters__link wow animate__animated animate__pulse"
              data-wow-iteration="2"
              href="./room.html"
              >Детальніше</a
            >
          </li>
          <li class="rooluxe-filters__item">
            <button
              type="button"
              class="roomluxe-filters__button js-open-modal wow animate__animated animate__pulse"
              data-wow-iteration="2"
              data-modal="3"
            >
              Переглянути ціни
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Скрипт слайдера-->
  <script>
    const rew = document.querySelector('.roomluxe-slides').children;
    const list_length = rew.length;
    document.querySelector('.roomluxe-slides__left').addEventListener('click', muv);
    function muv() {
      for (let i = 0; i < list_length; i++) {
        if (rew[i].classList == 'roomluxe-slides__slide') {
          rew[i].classList = 'visually-hidden';
          if (i == list_length - 1) {
            for (let i = 0; i < list_length; i++) {
              rew[i].classList = 'roomluxe-slides__slide';
            }
          }
          break;
        }
      }
    }
    document.querySelector('.roomluxe-slides__right').onclick = function () {
      for (let i = 0; i < list_length; i++) {
        if (rew[i].classList == 'roomluxe-slides__slide') {
          //if (i == 0) break;
          if (i == 0) {
            for (let i = 0; i < list_length - 1; i++) {
              rew[i].classList = 'visually-hidden';
            }
            break;
          }
          rew[i - 1].classList = 'roomluxe-slides__slide';
          break;
        }
      }
    };
  </script>
</section>
