<!--2luxe-->
<section class="roomluxe">
    <div class="container">
        <ul class="roomluxe__note list">
            <li>
                <p class="roomluxe__text">Amet minim mollit non</p>
            </li>
            <li>
                <p class="roomluxe__logo">Mimiho</p>
            </li>
        </ul>
        <h2 class="roomluxe__title">Двомісний номер <span class="roomluxe__titlesmall">люкс</span></h2>
        <div class="roomluxe-roster__thumb">
            <ul class="roomluxe__roster list">
                <li class="roomluxe__item">
                    <p class="roomluxe__paragraf">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis enim velit mollit.
                        Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </li>
                <li class="roomluxe__item">
                    <picture>
                        <source srcset="
                            ./images/hotel-page/2luxe/desktop/apartment-@1x.jpg 1x,
                            ./images/hotel-page/2luxe/desktop/apartment-@2x.jpg 2x"
                            media="(min-width: 1280px)"
                        >
                        <source srcset="
                            ./images/hotel-page/2luxe/tablet/apartment-@1x.jpg 1x,
                            ./images/hotel-page/2luxe/tablet/apartment-@2x.jpg 2x"
                            media="(min-width: 1024px)"
                        >
                        <img class="roomluxe__apartment" srcset="
                            ./images/hotel-page/2luxe/mobile/apartment-@1x.jpg 1x,
                            ./images/hotel-page/2luxe/mobile/apartment-@2x.jpg 2x"
                            src="./images/hotel-page/2luxe/mobile/apartment-@1x.jpg"
                            alt="Кімната, двомісне ліжко, інтер'єр кімнати"
                        >
                    </picture>
                </li>
            </ul>
        </div>

        <div class="roomluxe__thumb">
            <div class="roomluxe-foto__thumb">
                <ul class="roomluxe-foto list">
                    <li class="roomluxe-foto__item">
                        <picture>
                            <source srcset="
                                ./images/hotel-page/2luxe/desktop/bathroom-@1x.jpg 1x,
                                ./images/hotel-page/2luxe/desktop/bathroom-@2x.jpg 2x"
                                media="(min-width:1280px)"
                            >
                            <source srcset="
                                ./images/hotel-page/2luxe/tablet/bathroom-@1x.jpg 1x,
                                ./images/hotel-page/2luxe/tablet/bathroom-@2x.jpg 2x"
                                media="(min-width:1024px)"
                            >
                            <img class="roomluxe__room" srcset="
                                ./images/hotel-page/2luxe/mobile/bathroom-@1x.jpg 1x,
                                ./images/hotel-page/2luxe/mobile/bathroom-@2x.jpg 2x"
                                src="./images/hotel-page/2luxe/mobile/bathroom-@1x.jpg"
                                alt="Рукомийник, дзеркало, предмети гігієни"
                            >
                        </picture>
                    </li>
                    <li class="roomluxe-foto__item">
                        <picture>
                            <source srcset="
                                ./images/hotel-page/2luxe/desktop/cuptea-@1x.jpg 1x,
                                ./images/hotel-page/2luxe/desktop/cuptea-@2x.jpg 2x"
                                media="(min-width: 1280px)"
                            >
                            <source srcset="
                                ./images/hotel-page/2luxe/tablet/cuptea-@1x.jpg 1x,
                                ./images/hotel-page/2luxe/tablet/cuptea-@2x.jpg 2x"
                                media="(min-width: 1024px)"
                            >
                            <img class="roomluxe__room" srcset="
                                ./images/hotel-page/2luxe/mobile/cuptea-@1x.jpg 1x,
                                ./images/hotel-page/2luxe/mobile/cuptea-@2x.jpg 2x"
                                src="./images/hotel-page/2luxe/mobile/cuptea-@1x.jpg"
                                alt="Біла чашка чаю на підвіконні"
                            >
                        </picture>
                    </li>
                </ul>
            </div>

            <ul class="roomluxe-icon list">
                <li class="roomluxe-icon__item">
                    <svg width="32" height="32">
                        <use href="./images/icons.svg#clic-arrow-left"></use>
                    </svg>
                </li>
                <li class="roomluxe-icon__item">
                    <svg width="32" height="32">
                        <use href="./images/icons.svg#clic-arrow-right"></use>
                    </svg>
                </li>
            </ul>
            <div class="roomluxe-filters__thumb">
                <ul class="roomluxe-filters list">
                    <li class="rooluxe-filters__item">
                        <a class="roomluxe-filters__link" href="./room.html">Детальніше</a>
                    </li>
                    <li class="rooluxe-filters__item">
                        <button type="button" class="roomluxe-filters__button js-open-modal" data-modal="3">
                            Переглянути ціни
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>