<section class="details-hotel">
    <div class="container">
        <span class="logo details-hotel__logo">MIMIHO</span>
        <h2 class="details-hotel__title">Готель</h2>
        <p class="details-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        <div class="buttons">
          <button type="button" class="btn btn-modal-open btn-modal-open--transparent book-btn" data-modal="2">Забронювати номер</button>
          <a href="#hotel-page" class="btn btn-link btn-link--transparent btn-link-mobile link price-btn" data-modal="3">Переглянути ціни</a>
        </div>
    </div>
</section>