<section class="details-hotel">
    <div class="container">
        <span class="logo details-hotel__logo">MIMIHO</span>
        <h2 class="details-hotel__title">Готель</h2>
        <p class="details-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        <button type="button" class="btn btn-modal-open btn-modal-open--transparent" data-modal="2">Забронювати номер</button>
        <button type="button" class="btn btn-modal-open btn-modal-open--transparent" data-modal="3">Переглянути ціни</button>
    </div>
</section>