<!-- 1-room-for-3-adult -->
<section class="rooms rooms--triple section">
  <div class="container">
    <div class="rooms__container rooms__container--triple">
      <div class="rooms__text-wrapper">
        <p class="rooms__tagline rooms__tagline--triple">Amet minim mollit non</p>
        <!-- TODO: Mimiho -->
        <p class="rooms__logo rooms__logo--triple">Mimiho</p>
        <h2 class="rooms__heading">Трьохмісний номер</h2>
        <p class="rooms__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="rooms__img-thumb rooms__img-thumb--triple">
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hotel-page/room-3/hotelpage-room-3-content-img-desktop-@1x.jpg 1x,
              ./images/hotel-page/room-3/hotelpage-room-3-content-img-desktop-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/hotel-page/room-3/hotelpage-room-3-content-img-tablet-@1x.jpg 1x,
              ./images/hotel-page/room-3/hotelpage-room-3-content-img-tablet-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/hotel-page/room-3/hotelpage-room-3-content-img-mobile-@1x.jpg 1x,
              ./images/hotel-page/room-3/hotelpage-room-3-content-img-mobile-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/hotel-page/room-3/hotelpage-room-3-content-img-mobile-@1x.jpg"
            alt="Інтер'єр номеру готелю"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="rooms__container rooms__container--triple rooms__container--triple-slider">
      <div data-slider="team-slider">
        <div class="rooms__slider rooms__slider--triple swiper">
          <ul class="rooms__slider-wrapper rooms__slider-wrapper--triple list swiper-wrapper">
            <li class="rooms__slider-slide swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <!-- desktop -->
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img1-desktop-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img1-desktop-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <!-- tablet + mobile -->
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img1-mobile-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img1-mobile-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./images/hotel-page/slider/hotelpage-room-3-slider-img1-mobile-@1x.jpg"
                    alt="Інтер'єр номеру готелю"
                    width="100%"
                    height="auto"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="rooms__slider-slide swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <!-- desktop -->
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img2-desktop-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img2-desktop-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <!-- tablet + mobile -->
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img2-mobile-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img2-mobile-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./images/hotel-page/slider/hotelpage-room-3-slider-img2-mobile-@1x.jpg"
                    alt="Інтер'єр номеру готелю"
                    width="100%"
                    height="auto"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="rooms__slider-slide swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <!-- desktop -->
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img3-desktop-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img3-desktop-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <!-- tablet + mobile -->
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img3-mobile-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img3-mobile-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./images/hotel-page/slider/hotelpage-room-3-slider-img3-mobile-@1x.jpg"
                    alt="Інтер'єр номеру готелю"
                    width="100%"
                    height="auto"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="rooms__slider-slide swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <!-- desktop -->
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img4-desktop-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img4-desktop-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <!-- tablet + mobile -->
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img4-mobile-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img4-mobile-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./images/hotel-page/slider/hotelpage-room-3-slider-img4-mobile-@1x.jpg"
                    alt="Інтер'єр номеру готелю"
                    width="100%"
                    height="auto"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="rooms__slider-slide swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <!-- desktop -->
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img5-desktop-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img5-desktop-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <!-- tablet + mobile -->
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img5-mobile-@1x.jpg 1x,
                      ./images/hotel-page/slider/hotelpage-room-3-slider-img5-mobile-@2x.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="./images/hotel-page/slider/hotelpage-room-3-slider-img5-mobile-@1x.jpg"
                    alt="Інтер'єр номеру готелю"
                    width="100%"
                    height="auto"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>

        <div class="rooms__slider-btns rooms__slider-btns--triple swiper-btns">
          <button class="rooms__slider-btn btn swiper-btn swiper-button-prev" type="button">
            <svg class="rooms__slider-btn-icn" width="32" height="32">
              <use href="./images/icons.svg#clic-arrow-left"></use>
            </svg>
          </button>
          <button class="rooms__slider-btn btn swiper-btn swiper-button-next" type="button">
            <svg class="rooms__slider-btn-icn" width="32" height="32">
              <use href="./images/icons.svg#clic-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="rooms__btn-wrapper">
        <a class="rooms__btn-link btn-link link" href="./room.html">Детальніше</a>
        <button class="btn-modal-open btn js-open-modal" type="button" data-modal="3">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
