<!-- 1-room-for-2-adult -->
<section class="rooms rooms--double section">
  <div class="container">
    <div class="rooms__container rooms__container--double">
      <div>
        <p class="rooms__tagline">Amet minim mollit non</p>
        <!-- TODO: Mimiho -->
        <p class="rooms__logo">Mimiho</p>
        <h2 class="rooms__heading">Двомісний номер</h2>
        <p class="rooms__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="rooms__img-thumb rooms__img-thumb--double">
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hotel-page/room-2/hotelpage-room-2-content-img-desktop-@1x.jpg 1x,
              ./images/hotel-page/room-2/hotelpage-room-2-content-img-desktop-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/hotel-page/room-2/hotelpage-room-2-content-img-tablet-@1x.jpg 1x,
              ./images/hotel-page/room-2/hotelpage-room-2-content-img-tablet-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/hotel-page/room-2/hotelpage-room-2-content-img-mobile-@1x.jpg 1x,
              ./images/hotel-page/room-2/hotelpage-room-2-content-img-mobile-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/hotel-page/room-2/hotelpage-room-2-content-img-mobile-@1x.jpg"
            alt="Інтер'єр номеру готелю"
            width="100%"
            height="auto"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="rooms__container rooms__container--double">
      <div class="rooms__slider">
        <ul class="rooms__slider-list rooms__slider-list--double list">
          <li class="rooms__slider-list-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img1-desktop-@1x.jpg 1x,
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img1-desktop-@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img1-mobile-@1x.jpg 1x,
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img1-mobile-@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img1-mobile-@1x.jpg 1x,
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img1-mobile-@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/hotel-page/swiper/hotelpage-room-2-swiper-img1-mobile-@1x.jpg"
                alt="Інтер'єр номеру готелю"
                width="100%"
                height="auto"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="rooms__slider-list-item">
            <picture>
              <!-- desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img2-desktop-@1x.jpg 1x,
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img2-desktop-@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- tablet -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img2-mobile-@1x.jpg 1x,
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img2-mobile-@2x.jpg 2x
                "
                type="image/jpg"
              />
              <!-- mobile -->
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img2-mobile-@1x.jpg 1x,
                  ./images/hotel-page/swiper/hotelpage-room-2-swiper-img2-mobile-@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./images/hotel-page/swiper/hotelpage-room-2-swiper-img2-mobile-@1x.jpg"
                alt="Інтер'єр номеру готелю"
                width="100%"
                height="auto"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
        <ul class="rooms__slider-btn-list list">
          <li>
            <button class="rooms__slider-btn btn" type="button">
              <svg class="rooms__slider-btn-icn" width="32" height="32">
                <use href="./images/icons.svg#clic-arrow-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="rooms__slider-btn btn" type="button">
              <svg class="rooms__slider-btn-icn" width="32" height="32">
                <use href="./images/icons.svg#clic-arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="rooms__btn-wrapper">
        <a class="rooms__btn-link btn-link link" href="./room.html">Детальніше</a>
        <button class="btn-modal-open btn js-open-modal" type="button" data-modal="3">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
