.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 24px;
  padding-bottom: 12px;

  &__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    color: $white-color;
    font-size: 30px;
    line-height: 1.08;
    font-weight: 700;
    letter-spacing: 0.3em;

    @media screen and (min-width: 414px) {
      font-size: 36px;
      line-height: 1.08;
      font-weight: 700;
      letter-spacing: 0.3em;
    }

    @media screen and (min-width: 1024px) {
      font-size: 40px;
      line-height: 1.08;
      font-weight: 700;
      letter-spacing: 0.3em;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 135px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-left: auto;

    @media screen and (min-width: 414px) {
      gap: 26px;
    }

    @media screen and (min-width: 1024px) {
      gap: 72px;
    }

    @media screen and (min-width: 1280px) {
      margin-left: 0px;
    }
  }
}

.contacts-list {
  &__item {
    display: flex;
    align-items: center;
    gap: 6px;

    @media screen and (min-width: 414px) {
      gap: 12px;
    }

    @media screen and (min-width: 1024px) {
      gap: 32px;
    }
  }

  &__title {
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    color: $accent-yellow-color;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 500;
    letter-spacing: 0.02em;

    @media screen and (min-width: 414px) {
      font-size: 16px;
      line-height: 1.25;
      font-weight: 500;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1024px) {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: 0.02em;
    }
  }

  &__tel {
    padding: 9px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
      width: 148px;
      gap: 14px;
      padding: 8px 8px 8px 12px;
    }
  }

  &__icon {
    width: 10px;
    height: 16px;
    fill: $accent-yellow-color;

    @media screen and (min-width: 414px) {
      width: 12px;
      height: 20px;
    }
  }

  &__phone-number {
    display: none;

    @media screen and (min-width: 1024px) {
      display: inline-block;
    }

    font-family: 'Montserrat',
    'sans-serif';
    font-style: normal;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $white-color;
  }
}

.header-soc-list {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: rgba(243, 198, 83, 0.7);
    transform: fill;
    transition-duration: 250ms;
    transition-timing-function: $cubic-bezier;
    transition: transform transition-duration transition-timing-function;

    &:hover,
    &:focus {
      fill: $accent-yellow-color;
    }
  }
}