.hero {
  padding: 181px 0 102px 0;
  text-align: center;

  @media screen and (min-width: 1024px) {
    padding: 188px 0 64px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 164px 0 65px 0;
  }

  &__container {
    position: relative;
  }

  &__title {
    width: 303px;
    margin: 0 auto 24px;

    font-family: 'Film P3', 'sans-serif';
    font-size: 92px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.3em;
    color: #ffffff;
    text-transform: uppercase;

    @media screen and (min-width: 414px) {
      font-size: 96px;
    }

    @media screen and (min-width: 1024px) {
      width: 404px;
      margin-bottom: 16px;
      font-size: 128px;
      line-height: 1.08;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }

    &-restaurant {
      margin-bottom: 20px;

      @media screen and (min-width: 1024px) {
        margin-bottom: 16px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
      }

    }

    &-hotel {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    width: 294px;
    margin: 0 auto;
    margin-bottom: 40px;

    font-family: 'Montserrat',
      'sans-serif';
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;

    @media screen and (min-width: 1024px) {
      width: 368px;
      margin-bottom: 56px;
      font-size: 20px;
      line-height: 1.2;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 64px;
    }

    &-restaurant {
      margin-bottom: 44px;

      @media screen and (min-width: 1024px) {
        margin-bottom: 56px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 64px;
      }
    }

    &-hotel {
      margin-bottom: 178px;

      @media screen and (min-width: 1024px) {
        margin-bottom: 226px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 249px;
      }
    }
  }

  &__text {
    margin: 0 auto;
    margin-bottom: 113px;

    font-family: 'Times New Roman',
      'sans-serif';
    font-size: 32px;
    line-height: 1.16;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
      margin-bottom: 145px;
      font-size: 36px;
      line-height: 1.14;
    }
  }


  &__button {
    @media screen and (max-width: 1023px) {
      margin: 0 auto;
    }

    &-mobile-margin {
      @media screen and (max-width: 1023px) {
        margin-bottom: 24px;
      }
    }

    &-wrap {
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
      }
    }

  }

  &__address {
    position: absolute;
    bottom: 527px;
    right: 15px;

    display: flex;
    align-items: center;

    width: 210px;
    height: 47px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;

    @media screen and (min-width: 1024px) {
      top: 412px;
      left: 47px;

      width: 285px;
      height: 56px;
    }

    @media screen and (min-width: 1280px) {
      top: 436px;
      left: 85px;
    }

    &-link {
      display: flex;
      align-items: center;
      text-align: start;
      font-family: 'Montserrat', 'sans-serif';
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.01em;
      color: #e5e5e5;

      @media screen and (min-width: 1024px) {
        font-size: 16px;
      }
    }

    &-icon-mobile {
      margin-left: 6px;
      margin-right: 10px;
      fill: #f3c653;

      @media screen and (min-width: 1024px) {
        display: none;
      }

    }

    &-icon-tablet {
      margin-left: 6px;
      margin-right: 10px;
      fill: #f3c653;

      @media screen and (min-width: 320px) and (max-width: 1023px) {
        display: none;
      }
    }

    &-icon-tablet {
      margin-left: 6px;
      margin-right: 10px;
      fill: #f3c653;

      @media screen and (min-width: 320px) and (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__soc-wrap {
    position: absolute;
    top: 510px;

    @media screen and (min-width: 1024px) {
      top: 493px;
      left: 47px;
    }

    @media screen and (min-width: 1280px) {
      display: none;
    }

  }

  &__soc-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 112px;
    height: 24px;
  }

  &__soc-icon {
    fill: rgba(243, 198, 83, 0.7);
    transform: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill, transition-duration, transition-timing-function;

    &:hover,
    &:focus {
      fill: #f3c653;
    }
  }
}

.overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 414px;

  &__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../images/main-page/bg/main-hero-mobile-@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/main-page/bg/main-hero-mobile-@2x.jpg');
    }

    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/main-page/bg/main-hero-tablet-@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
          url('../images/main-page/bg/main-hero-tablet-@2x.jpg');
      }
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/main-page/bg/main-hero-desktop-@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
          url('../images/main-page/bg/main-hero-desktop-@2x.jpg');
      }
    }
  }

  &__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../images/restaurant-page/bg/restaurant-hero-mobile-@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/restaurant-page/bg/restaurant-hero-mobile-@2x.jpg');
    }

    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/restaurant-page/bg/restaurant-hero-tablet-@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
          url('../images/restaurant-page/bg/restaurant-hero-tablet-@2x.jpg');
      }
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/restaurant-page/bg/restaurant-hero-desktop-@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
          url('../images/restaurant-page/bg/restaurant-hero-desktop-@2x.jpg');
      }
    }
  }

  &__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../images/hotel-page/bg/hotel-hero-mobile-@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/hotel-page/bg/hotel-hero-mobile-@2x.jpg');
    }

    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/hotel-page/bg/hotel-hero-tablet-@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
          url('../images/hotel-page/bg/hotel-hero-tablet-@2x.jpg');
      }
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url('../images/hotel-page/bg/hotel-hero-desktop-@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
          url('../images/hotel-page/bg/hotel-hero-desktop-@2x.jpg');
      }
    }
  }
}

.btn-modal-open-mobile {

  @media screen and (max-width: 1024px) {
    margin-bottom: 24px;
  }
}

.btn-link-mobile {

  @media screen and (max-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
  }
}