.kitchen-conteiner {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background: $bg-lemon-color;
  @media (min-width: 414px) {
    width: 414px;
  }
  @media (min-width: 1024px) {
    width: 1024px;
    padding-left: 47px;
    padding-right: 60px;
    padding-top: 120px;
    padding-bottom: 40px;
  }
  @media (min-width: 1280px) {
    width: 1280px;
    padding-left: 85px;
    padding-right: 104px;
  }
}
.kitchen-text {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: $tagline-color;
  @media (min-width: 1024px) {
    font-size: 32px;
  }
}
.kitchen-h {
  margin-top: 12px;
  text-transform: uppercase;
  font-family: Film P3, 'sans-serif';
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: $section-logo-color;
  @media (min-width: 1024px) {
    font-size: 64px;
  }
}
.kitchen-cards {
  list-style: none;
}
.kitchen-card-right {
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    margin-top: -240px;
  }
}
.kitchen-card-right__text {
  max-width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $description-text-color;
  @media (min-width: 1024px) {
    margin-bottom: -110px;
    max-width: 440px;
    font-size: 16px;
  }
  @media (min-width: 1280px) {
    min-width: 518px;
    margin-right: 65px;
    margin-top: -60px;
  }
}
.kitchen-card-right__img {
  margin-left: auto;
  margin-top: 28px;
  margin-bottom: 32px;
  background: $img-background-color;
  border-radius: 2px;
  box-shadow: $large-img-thumb-shadow;
  @media (min-width: 1024px) {
    max-width: 400px;
    width: 400px;
    margin-top: 0px;
    z-index: 2;
  }
  @media (min-width: 1280px) {
    max-width: 460px;
    width: 460px;
  }
}
.kitchen-card-left {
  display: flex;
  align-items: center;
  @media (min-width: 1024px) {
    margin-top: -60px;
  }
  @media (min-width: 1280px) {
    margin-top: -100px;
  }
  &__img {
    margin-right: 20px;
    max-width: 200px;
    width: 200px;
    background: $img-background-color;
    border-radius: 2px;
    box-shadow: $large-img-thumb-shadow;
    @media (min-width: 1024px) {
      margin-right: 48px;
      max-width: 350px;
      width: 350px;
    }
    @media (min-width: 1280px) {
      max-width: 460px;
      width: 460px;
    }
  }
  &__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $brown-color;
    @media (min-width: 1024px) {
      width: 312px;
      font-size: 16px;
    }
    @media (min-width: 1280px) {
      margin-top: -75px;
    }
  }
}
.carusel {
  overflow-x: clip;
  width: 350px;
  margin-left: auto;
  margin-top: 24px;
  margin-right: -15px;
  padding-left: 18px;
  @media (min-width: 1024px) {
    margin-right: 0px;
    width: 468px;
    margin-top: -30px;
    padding-left: 18px;
  }
  @media (min-width: 1280px) {
    width: 584px;
    margin-top: -145px;
    margin-right: -40px;
    padding-left: 18px;
  }
}
.kitchens-slides {
  display: flex;
  list-style: none;
  transition: 1s all;
  &__slide {
    margin-right: 25px;
    @media (min-width: 1024px) {
      margin-right: 40px;
    }
  }
  &__img {
    max-width: 245px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 4px rgb(0 0 0 / 25%);
    @media (min-width: 1024px) {
      width: 194px;
    }
    @media (min-width: 1280px) {
      max-width: 254px;
      width: 254px;
    }
  }
  &__grup {
    margin-left: auto;
    margin-top: 35px;
    width: 100px;
    margin-right: -20px;
    @media (min-width: 1024px) {
      margin-top: 40px;
      margin-right: 0px;
    }
  }
  &__left {
    margin-right: 28px;
    &:hover,
    &:focus {
      fill: $brown-color;
      cursor: pointer;
    }
  }
  &__right {
    &:hover,
    &:focus {
      fill: $brown-color;
      cursor: pointer;
    }
  }
}
