<section class="restaurant-description" data-slider="team-slider">
  <div class="restaurant-description__container">
    <h2 class="visually-hidden">Про наш ресторан</h2>
    <h3 class="restaurant-description__title wow animate__animated animate__backInLeft">
      Amet minim mollit non
    </h3>
    <a
      class="logo restaurant-description__logo link wow animate__animated animate__backInLeft"
      href="#"
      >Mimino</a
    >
    <ul class="list restaurant-description__list">
      <li class="restaurant-description__item">
        <div class="restaurant-description__control restaurant-description__control--wood">
          <p class="restaurant-description__meta restaurant-description__meta--grey">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <picture>
            <source
              srcset="
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-wood-desktop-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-wood-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-wood-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-wood-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-wood-mobile-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-wood-mobile-@2x.jpg 2x
              "
              src="/src/images/main-page/about-restaurant/mobile/about-our-restaurant-wood-mobile-@1x.jpg"
              alt="Зала ресторану з інтер'єром у дерев'яному стилі"
              class="restaurant-description__image restaurant-description__image--wood"
            />
          </picture>
        </div>
      </li>
      <li class="restaurant-description__item">
        <div class="restaurant-description__control restaurant-description__control--chess">
          <picture>
            <source
              srcset="
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-chess-desktop-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-chess-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-chess-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-chess-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-chess-mobile-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-chess-mobile-@2x.jpg 2x
              "
              src="/src/images/main-page/about-restaurant/mobile/about-our-restaurant-chess-mobile-@1x.jpg"
              alt="Зала ресторану з французькими вікнами"
              class="restaurant-description__image restaurant-description__image--chess"
            />
          </picture>

          <p class="restaurant-description__meta restaurant-description__meta--color">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enimvelit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
    </ul>

    <div class="container-slider">
      <div class="slider">
        <div class="slider__line slider-line-js">
          <picture>
            <source
              srcset="
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-glass-desktop-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-glass-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-glass-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-glass-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-glass-mobile-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-glass-mobile-@2x.jpg 2x
              "
              src="/src/images/main-page/about-restaurant/mobile/about-our-restaurant-glass-mobile-@1x.jpg"
              alt="Бокал вина у руці за столиком у ресторані"
              class="slider__image"
            />
          </picture>
          <picture>
            <source
              srcset="
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-serving-desktop-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-serving-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-serving-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-serving-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-serving-mobile-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-serving-mobile-@2x.jpg 2x
              "
              src="/src/images/main-page/about-restaurant/mobile/about-our-restaurant-serving-mobile-@1x.jpg"
              alt="Сервірування столу у ресторані"
              class="slider__image"
            />
          </picture>
          <picture>
            <source
              srcset="
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-showcase-desktop-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-showcase-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-showcase-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-showcase-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-showcase-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-showcase-tablet-@2x.jpg 2x
              "
              src="/src/images/main-page/about-restaurant/tablet/about-our-restaurant-showcase-tablet-@1x.jpg"
              alt="Вітрина-бар"
              class="slider__image"
            />
          </picture>
          <picture>
            <source
              srcset="
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-dishes-desktop-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-dishes-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-dishes-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-dishes-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-dishes-mobile-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-dishes-mobile-@2x.jpg 2x
              "
              src="/src/images/main-page/about-restaurant/mobile/about-our-restaurant-dishes-mobile-@1x.jpg"
              alt="Накритий стіл зі стравами на двох"
              class="slider__image"
            />
          </picture>
          <picture>
            <source
              srcset="
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-tea-desktop-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/desktop/about-our-restaurant-tea-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-tea-tablet-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/tablet/about-our-restaurant-tea-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-tea-mobile-@1x.jpg 1x,
                /src/images/main-page/about-restaurant/mobile/about-our-restaurant-tea-mobile-@2x.jpg 2x
              "
              src="/src/images/main-page/about-restaurant/mobile/about-our-restaurant-tea-mobile-@1x.jpg"
              alt="Процес заварювання чаю"
              class="slider__image"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="slider__button-control" aria-label="Перемикач слайдерів" aria-expanded="false">
      <button class="slider-but slider__pre">
        <svg width="32" height="32">
          <use href="./images/icons.svg#clic-arrow-left"></use>
        </svg>
      </button>
      <button class="slider-but slider__nex">
        <svg width="32" height="32">
          <use href="./images/icons.svg#clic-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <script>
    let offse = 0; //зміщення від лівого краю
    const slideLine = document.querySelector('.slider__line');

    document.querySelector('.slider__nex').addEventListener('click', function () {
      offse = offse + 294; // offset += 254;
      if (offse > 882) {
        offse = 0;
      }
      slideLine.style.left = -offse + 'px';
    });

    document.querySelector('.slider__pre').addEventListener('click', function () {
      offse = offse - 294; // offset -= 254;
      if (offse < 0) {
        offse = 882;
      }
      slideLine.style.left = -offse + 'px';
    });
  </script>
</section>
