<section class="about-hotel">
  <div class="container about-hotel__container">
    <h2 class="visually-hidden">Про наш готель</h2>
    <p class="about-hotel__subtitle wow animate__animated animate__backInRight">
      Amet minim mollit non
    </p>
    <p class="about-hotel__logo wow animate__animated animate__backInRight">MIMIHO</p>
    <ul class="about-cards">
      <li class="about-card about-card--reverse">
        <p class="about-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>

        <div class="about-card__thumb">
          <picture>
            <source
              srcset="
                ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-room-desktop-@1x.jpg 1x,
                ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-room-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-room-tablet-@1x.jpg 1x,
                ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-room-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-room-mobile-@1x.jpg 1x,
                ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-room-mobile-@2x.jpg 2x
              "
              src="./images/main-page/about-hotel/m-mobile/homepage-about-hotel-room-mobile-@1x.jpg"
              alt="Готельний номер"
              class="about-hotel__room-img"
            />
          </picture>
        </div>
      </li>

      <li class="about-card about-card--reverse">
        <p class="about-card__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>

        <div class="about-card__thumb">
          <picture>
            <source
              srcset="
                ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-hall-desktop-@1x.jpg 1x,
                ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-hall-desktop-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-hall-tablet-@1x.jpg 1x,
                ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-hall-tablet-@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              srcset="
                ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-hall-mobile-@1x.jpg 1x,
                ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-hall-mobile-@2x.jpg 2x
              "
              src="./images/main-page/about-hotel/m-mobile/homepage-about-hotel-hall-mobile-@1x.jpg"
              alt="Хол"
              class="about-hotel__hall-img"
            />
          </picture>
        </div>
      </li>
    </ul>

    <!-- Slider -->
    <div class="slider-container">
      <div class="slider-line">
        <picture>
          <source
            srcset="
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide1-desktop-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide1-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide1-tablet-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide1-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide1-mobile-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide1-mobile-@2x.jpg 2x
            "
            src="./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide1-mobile-@1x.jpg"
            alt="Рецепція"
            class="slider-image"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide2-desktop-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide2-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide2-tablet-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide2-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide2-mobile-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide2-mobile-@2x.jpg 2x
            "
            src="./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide2-mobile-@1x.jpg"
            alt="Хол"
            class="slider-image"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide3-desktop-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide3-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide3-tablet-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide3-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide3-mobile-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide3-mobile-@2x.jpg 2x
            "
            src="./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide3-mobile-@1x.jpg"
            alt="Білий диван з зеленими подушками"
            class="slider-image"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide4-desktop-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide4-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide4-tablet-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide4-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide4-mobile-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide4-mobile-@2x.jpg 2x
            "
            src="./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide4-mobile-@1x.jpg"
            alt="Зелений диван з білою подушкою"
            class="slider-image"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide5-desktop-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-desktop/homepage-about-hotel-slide5-desktop-@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide5-tablet-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-tablet/homepage-about-hotel-slide5-tablet-@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <img
            srcset="
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide5-mobile-@1x.jpg 1x,
              ./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide5-mobile-@2x.jpg 2x
            "
            src="./images/main-page/about-hotel/m-mobile/homepage-about-hotel-slide5-mobile-@1x.jpg"
            alt="Умивальник на фоні плитки"
            class="slider-image"
          />
        </picture>
      </div>
    </div>

    <div class="slider-button">
      <button class="slider-prev">
        <svg class="icon-svg">
          <use href="./images/icons.svg#clic-arrow-left"></use>
        </svg>
      </button>

      <button class="slider-next">
        <svg class="icon-svg">
          <use href="./images/icons.svg#clic-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <script>
    let offset = 0;
    const sliderLine = document.querySelector('.slider-line');

    document.querySelector('.slider-next').addEventListener('click', function () {
      offset += 200;
      if (offset > 900) {
        offset = 0;
      }

      sliderLine.style.left = -offset + 'px';
    });

    document.querySelector('.slider-prev').addEventListener('click', function () {
      offset -= 200;
      if (offset < 0) {
        offset = 900;
      }

      sliderLine.style.left = -offset + 'px';
    });
  </script>
</section>
