<!-- Секція "Details of our restaurant" -->
<section class="details-rest details-rest--overlay">
  <div class="container">
    <div class="details-rest__card">
      <p class="details-rest__name">MIMIHO</p>

      <h2 class="details-rest__title">Ресторан</h2>

      <p class="details-rest__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit.
      </p>
    </div>

    <div class="details-rest__thumb">
      <div class="details-rest__thumb-slide">
        <div class="swiper mySwiper">
          <ul class="swiper-wrapper list details-rest__thumb-img">
            <li class="swiper-slide details-rest__item-thumb">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide1-desktop-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide1-desktop-@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide1-tablet-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide1-tablet-@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 414px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide1-mobile-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide1-mobile-@2x.jpg 2x
                  "
                />
                <img
                  src="./images/main-page/details-rest/homepage-details-rest-slide1-mobile-@1x.jpg"
                  class="details-rest__slide"
                  alt="Фото страви 1 ресторану"
                />
              </picture>
            </li>
            <li class="swiper-slide details-rest__item-thumb">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide2-desktop-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide2-desktop-@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide2-tablet-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide2-tablet-@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 414px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide2-tablet-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide2-tablet-@2x.jpg 2x
                  "
                />
                <img
                  src="./images/main-page/details-rest/homepage-details-rest-slide2-tablet-@1x.jpg"
                  class="details-rest__slide"
                  alt="Фото страви 2 ресторану"
                />
              </picture>
            </li>
            <li class="swiper-slide details-rest__item-thumb">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide3-desktop-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide3-desktop-@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide3-tablet-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide3-tablet-@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 414px)"
                  srcset="
                    ./images/main-page/details-rest/homepage-details-rest-slide3-tablet-@1x.jpg 1x,
                    ./images/main-page/details-rest/homepage-details-rest-slide3-tablet-@2x.jpg 2x
                  "
                />
                <img
                  src="./images/main-page/details-rest/homepage-details-rest-slide3-tablet-@1x.jpg"
                  class="details-rest__slide"
                  alt="Фото страви 3 ресторану"
                />
              </picture>
            </li>
          </ul>
        </div>

        <div class="details-rest__btn-arrow">
          <button
            class="swiper-button-next-rest details-rest__arrow details-rest__arrow--left"
            type="button"
            aria-label="Кнопка вліво"
          >
            <svg class="details-rest__icon-arrow" width="32" height="32">
              <use href="./images/icons.svg#clic-arrow-left"></use>
            </svg>
          </button>

          <button
            class="swiper-button-prev-rest details-rest__arrow"
            type="button"
            aria-label="Кнопка вліво"
          >
            <svg class="details-rest__icon-arrow" width="32" height="32">
              <use href="./images/icons.svg#clic-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="details-rest__btn">
        <button
          data-modal="1"
          class="js-open-modal btn btn-modal-open btn-modal-open--transparent details-rest__btn-modal-open"
          type="button"
        >
          Забронювати столик
        </button>

        <a
          class="link btn btn-link btn-link--transparent details-rest__btn-link"
          href="./restaurant.html"
          >Переглянути меню
        </a>
      </div>
    </div>
  </div>
</section>
